$main-background-color: #333;
$inner-background-color: #222;
$text-color: white;

$button-background-color: cyan;
$button-text-color: #222;

$main-view-border: cyan;
$main-view-border-shadow: black;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $main-background-color;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.app-container {
  position: absolute;
  top: 1.5vh;
  left: 1.5vh;
  width: calc(100vw - 3vh);
  height: 97vh;

  color: $text-color;
  background: $inner-background-color;
  box-shadow: 0 0 0 1vh white;
  display: flex;

  align-items: center;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100%;
}

.rsm-zoomable-group {
  transition: transform 0.5s ease-in;
}

.stylized-button {
  cursor: pointer;
  border: 0;

  background: $button-background-color;
  color: $button-text-color;

  padding: 1vh 1vw;
  font-size: 2vh;
  font-weight: bolder;
  text-transform: uppercase;

  transition: color 0.2s linear;

  border-radius: 0.5vh;

  width: max-content;
  margin: 0.5vh;

  &:hover {
    color: $text-color;
  }

  &:active, &:focus {
    outline: none;
    border: 0;
  }
}

.database-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 63vh;

  button {
    font-size: 1.6vh;
    padding: 0.5vh 0.5vw;
    margin-bottom: 1.5vh;

    background: darkcyan;
  }
}

.realm-button-list {
  @extend .database-button-list;

  button {
    font-size: 1.3vh;
    background: mediumaquamarine;
  }
}

.sub-realm-button-list {
  @extend .database-button-list;

  button {
    font-size: 1.3vh;
    background: blanchedalmond;
  }
}

.city-marker {
  fill: cyan;
  pointer-events: none;
}

.city-line {
  stroke: darkcyan;
  stroke-width: 0.25;
  pointer-events: none;
}

.city-name {
  fill: whitesmoke;

  pointer-events: none;
  outline: none;
  font-size: 2vh;
  text-transform: uppercase;
}

h1 {
  font-size: 2.6vh;
  text-align: center;

  pointer-events: none;
  outline: none;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;

  button {
    width: 100%;
    margin: 0.5vh;
    outline: none;
    text-align: left;

    &:active, &:focus {
      outline: none;
    }
  }

  .dropdown-selection-container {
    width: 33%;
    margin: 0.15%;

    button {
      width: 100%;
    }
  }

  .dropdown-toggle {
    @extend .stylized-button;
    font-size: 1.2vh;
    background: #f2f2f2;
    margin: 0;
    padding: 0.5vh 1vw;

    overflow: hidden;
  }

  .dropdown-menu {
    li {
      &:nth-child(even) {
        background: #dddddd;
      }
    }
  }
}

.dropdown-selection-container {
  display: flex;
  flex-direction: column;

  .selections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5%;

    button {
      @extend .stylized-button;

      font-size: 1vh;
      width: 32%;
      text-align: center;
      padding: 0.5%;
      margin: 0.5%;
    }
  }
}

.btn-toolbar {
  margin: 0;
}

.filter-input-container {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 63vw;

  text-align: center;

  background: #333333;
  padding: 1.5vh;
  border-radius: 0 0 0.5vh 0.5vh;

  transform: translateX(-50%);
  transition: transform 0.3s linear;

  &.inputs-hidden {
    transform: translate(-50%, calc(-100% + 5vh));

    &:hover {
      transform: translate(-50%, calc(-100% + 6vh));
    }
  }

  .text-input {
    color: black;
    background: #f2f2f2;
    cursor: text;
  }
}

.toggle-show-button {
  width: 100%;
  height: 3vh;
  background: transparent;
  color: cyan;
  text-align: center;
  padding: 0;
  outline: none;
  border: 0;
  align-self: center;
  margin-top: 2vh;
  font-size: 3vh;

  &:hover {
    color: $text-color;
  }

  &:active, &:focus {
    outline: none;
    border: 0;
  }
}

.zoom-buttons {
  position: absolute;
  left: 1vh;
  bottom: 1vh;

  span  {
    font-size: 2.5vh;
  }

  button {
    @extend .unselectable;
    @extend .stylized-button;

    font-size: 0;
    padding: 0.5vh;
    margin-right: 0.2vh;
    background: white;
  }
}

.regionTooltip {
  color: $button-background-color !important;
  background: transparent !important;
  text-align: center;
  text-shadow: 0.2vh 0.2vh #000;
  font-size: 3vh;

  .header {
    font-size: 5vh;
  }

  &.place-top, &.place-right, &.place-left, &.place-bottom {
    &:after {
      border: transparent !important;
    }
  }
}

.flex-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    margin: 0.2vw;
  }
}

.logo-image {
  position: absolute;
  top: 1vh;
  left: 1vh;
  height: 8vh;
  z-index: 1;
}

.year-slider {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;

  .slider-track {
    background: darkcyan;
    height: 2vh;
    border-radius: 0.5vh;
  }

  .slider-thumb {
    background: cyan;
    height: 3vh;
    width: 1.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0 0 transparent !important;
  }
}

.year-name {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

.auto-update-year-button {
  position: absolute;
  right: 1vh;
  bottom: 1vh;

  button {
    @extend .unselectable;
    @extend .stylized-button;

    font-size: 2.5vh;
    padding: 0.5vh;
    margin-right: 0.2vh;
    background: white;
  }
}

@font-face {
  font-family: 'Bakery';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bakery.ttf');
}
